<app-principal></app-principal>

<div class="principal">
    <h1>Selecciona e ingresa las preguntas adecuada para cada sección</h1>
        <div id="box-acordeon">
            <div id="acordeon">
                <h3>Sección 1 - Recursos Humanos</h3>
                <div class="div-acordeon">
                    <p>Contenido 1</p>
                </div>
                <h3>Sección 2 - Cuéntanos más sobre ti</h3>
                <div class="div-acordeon">
                    <p>Contenido 1</p>
                </div>
                
                <h3>Sección 3 - Mejoras Internas 2020</h3>
                <div class="div-acordeon">
                    <p>Contenido 1</p>
                </div>
            </div>
        </div>
        <footer> </footer>
</div>

