.principal{
    margin: 0px;
    padding: 0px;
}

.box{
    width: 40%;
    margin-left:30%;
    text-align: center;
}

.form-olvide{
    width: 350px;
    height: 500px;
    margin:60px auto;  
    padding-top: 150px;
    padding: 5px;
    
}

label{
    margin-top: 20px;
    display: block;
    text-align: left;
}

form input[type=text]{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: 1px solid #ea792d;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    padding-left: 15px;
}

form input[type="submit"]{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: 1px solid #ea792d;
    border-radius: 4px;
    background-color: #ea792d;
    color: white;
    box-sizing: border-box;
    border-color: .15s;
}

form input[type=text]:click{
    border-color: #ea792d;
    box-shadow: 0 0 5px 0 #ea792d;
}

form input[type=text]:focus{
    border-color: #ea792d;
    box-shadow: 0 0 5px 0 #ea792d;
}

form input[type=password]:focus{
    border-color: #ea792d;
    box-shadow: 0 0 5px 0 #ea792d;
}

img{
    height: 100px;
    margin-left: 25px;
}
#h1-olvide{
    margin-top: 20px;
    color:#ea792d;
}

#p-inicio{
    margin-top: 20px;
    color: #999999;
}