<div class="principal">
        <div class="form-login">
            <h1 id="h1-bienvenido">¡Bienvenido!</h1>
            <h1 id="h1-inicio">Iniciar Sesión</h1>
            <form class="form">
                <label>Usuario o Correo Electrónico</label>
                <input type="text" name="usuario"/>
                <label>Constraseña</label>
                <input type="password" name="contrasena">
                <input type="submit" value="Continuar"/>
            </form>
        </div>
</div>
