<app-principal></app-principal>
<div class="principal">
  <nav class="navmenu">
      <ul>
        <form>
          <li><p class="circle">1</p>
             <div class="up-image">
                <p id="txt-enviarfile">Agregar logo</p>
                <input type="file" id="btn_enviarfile" accept="image/png, image/jpeg"/>
                <input type="button" id="btn_eliminarfile" value="Eliminar"/>
                <img id="img_logo" src="" width="50px" height="25px"/>
                <p id="txt_value"></p>
            </div>
          </li>
          <li><p class="circle">2</p>
            <div class="nombre">
              <input type="text" placeholder="Ingresar el nombre de la encuesta"/>
            </div>
          </li>
          <li><p class="circle">3</p>
            <div class="descripcion">
                <p>Descripción</p>
                <textarea placeholder="Ingresar máximo 100 caracteres"></textarea>
            </div>  
          </li>
          <li><p class="circle">4</p> 
            <div class="side">
              <div id="left">
                <p>Fecha de validez</p>
                <input type="text" id="fecha-inicio"/>
                 <p id="txt-fecha-inicio">Inicio:</p>
                <input type="text" id="fecha-fin"/>
                <p id="txt-fecha-fin">Fin:</p>
              </div>
              <div id="right">
                <p>Seleccionar la unidad</p>
                <input id="rd-negocio" name="unidad" type="radio"/><label for="rd-negocio" id="lbl-negocio">Negocio</label>
                <input id="rd-estracto" name="unidad" type="radio"/><label for="rd-estracto" id="lbl-estracto">Estracto</label>
              </div>
            </div>
          </li>
        </form>
      </ul>
  </nav>
</div> 