
<div class="principal">
    <div class="box-left">
        <div class="form-login">
            <img class="img-login" src="../../assets/img/logo-notisurvey.png">
            <h1 id="h1-bienvenido">¡Bienvenido!</h1>
            <h1 id="h1-inicio">Iniciar Sesión</h1>
            <form class="form">
                <label>Usuario o Correo Electrónico</label>
                <input type="text" name="usuario" autofocus/>
                <label>Constraseña</label>
                <input type="password" name="contrasena" />
                <span id="show-hide-passwd" action="hide" class="input-group-addon glyphicon glyphicon glyphicon-eye-open"></span>
                <input type="submit" value="Continuar"/>
            </form>
            <a [routerLink]="['/olvide-contrasena']">Olvide mi usuario y/o contraseña</a>
        </div>
    </div>
    <div class="box-right">
        <img src="../../assets/img/notisurvey-portada.jpg">
    </div>
</div>
