<div class="principal">

    <div id="notisurvey">
        <img src="../../assets/img/name-notisurvey.png">
         <p>{{usuario.correo}}</p>
         <img id="ico-down" src="../../assets/img/ico-down.png">
    </div>

    <div id="descripcion">
        <p>Descripción de actividad</p>
    </div>

    <div id="menu">
        <nav>
            <ul>
                <li><a href="#">Diseño de la Encuesta</a></li>
                <li><a href="#">Secciones</a></li>
                <li><a (click)="refresh()" [routerLink]="['/preguntas']" [routerLinkActive]="['active']">Preguntas</a></li>
                <li href="#" class="ultimo"><a>Resultado final</a></li>
                <li href="#" class="ultimo"><input type="submit" value="Guardar"></li>
            </ul>
        </nav>
    </div>
</div>
