<div class="principal">

    <div id="notisurvey">
        <img src="../../assets/img/name-notisurvey.png">
         <p>{{usuario.correo}}</p>
         <img id="ico-down" src="../../assets/img/ico-down.png">
    </div>

    <div id="descripcion">
        <input type="text" placeholder="Nombre de la encuesta que estas realizando..." value="{{nombrePadre}}"/>
    </div>

    <div id="menu">
        <nav>
            <ul>
                <li><a (click)="refresh()" [routerLink]="['/diseno-encuesta']" [routerLinkActive]="['active']">Diseño de la Encuesta</a></li>
                <li><a (click)="refresh()" [routerLink]="['/secciones']" [routerLinkActive]="['active']">Secciones</a></li>
                <li><a (click)="refresh()" [routerLink]="['/preguntas']" [routerLinkActive]="['active']">Preguntas</a></li>
                <li class="ultimo"><a href="#" [routerLinkActive]="['active']">Resultado final</a></li>
                <li class="ultimo"><input type="submit" value="Guardar"></li>
            </ul>
        </nav>
    </div>
</div>
