<div class="principal">

    <div id="notisurvey">
        <img src="../../assets/img/name-notisurvey.png">
         <p>ejemplo.correo@goitsa.me</p>
         <img id="ico-down" src="../../assets/img/ico-down.png">
    </div>

    <div id="descripcion">
        <p>Descripcion de actividad</p>
    </div>

    <div id="menu">
        <nav>
            <ul>
                <li><a>Diseño de la Encuesta</a></li>
                <li><a>Secciones</a></li>
                <li><a>Preguntas</a></li>
                <li id="ultimo"><a>Resultado final</a></li>
            </ul>
        </nav>
    </div>
</div>
