<app-principal></app-principal>
<div class="principal">
    <mat-vertical-stepper >
      <mat-step label="Step 1">
        ya que los usuarios también pueden hacer clic en la etiqueta de cada paso para navegar a cualquier paso. No puedo usar lineal, ya que requiere que cada paso tenga una formArray o FormGroup.
  
      He intentado  No estoy seguro de qué más probar, cualquier sugerencia sería muy apreciada.
  
      angular
      angular-material
        
      </mat-step>
      <mat-step  label="Step 1">
        ya que los usuarios también pueden hacer clic en la etiqueta de cada paso para navegar a cualquier paso. No puedo usar lineal, ya que requiere que cada paso tenga una formArray o FormGroup.
        He intentado  No estoy seguro de qué más probar, cualquier sugerencia sería muy apreciada.
  
      angular
      angular-material
        
      </mat-step>
    </mat-vertical-stepper>
  </div>  
  
